body{
    font-family: 'Anton', sans-serif;
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* 
greatest-blogs */

.greatest-blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1200px;
    height: 340px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 30px;
    padding-left: 100px;
    margin-bottom: 100px;
    
}

.button{
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 2px;
    padding: 5px;
    font-weight: 500;
}

/* 
upcoming-match
 */

.upcoming-match{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.right-blog{
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-weight: 700;
    margin-left: 200px;
}

/* transfer-live */

.main-blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
}

.transfer-live{
    background-color: whitesmoke;
    height: 200x;
    width: 250px;
    margin-top: 50px;
    margin-left: 70px;
    padding-left: 30px;
    padding-top: 10px;
    border-radius: 10px;
}

.live-match{
    color: black;
    font-weight: 900;
}

.transfer{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}

/* main-goal */

.footer{
    background-color: black;
    width: auto;
    height: 400px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

hr{
    height: 1px;
    width: 1000px;
}
.navigation-ber{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

/* for mobile phone */

@media screen and(max-width: 600px) {

    .greatest-blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .upcoming-match{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .transfer-live{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }
    
    .footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* for tablet */

@media screen and(max-width: 768px){
    .transfer-live{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }
    
    .navigation-ber{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}